.btnprice {
  border-radius: 4px;
  padding: 1px 4px 0px 4px;
  color: #ffffff;
  font-size: 13px;
}

.green {
  background-color: #1cc88a;
  /*border-radius: 5px;*/
  /*padding: 1px 6px 1px 6px;*/
  /*color: #ffffff;*/
}

/*.btnprice .red{
  background-color: #e74a3b;
  border-radius: 5px;
  padding: 1px 6px 1px 6px;
  color: #ffffff;
}*/

.red {
  background-color: #e74a3b;
}

.yellow {
  background-color: #f6c23e;
}

.dark{
  background-color: #bdbdbd;
}

.givemargin {
  margin-left: 5px;
}

.cw{
  color: #fff;
}

.loghover:hover {
  background-color: rgba(0,0,0,0.03);
  /*border-radius: 5px;*/
}

.fixpadding {
  padding-top: 4px;
  padding-bottom: 0px;
  margin-bottom: 2px; /* Space between each entry */
  padding-left: 8px;
}

.table-hover tbody tr:hover {
  color: #858796;
  background-color: rgba(0,0,0,0.03);
  border-radius: 10px;
}

.fixcard {
  border-radius: 0px 0px 7px 7px;
}

.nav-tabs .nav-link {
  border-color: #eaecf4 #eaecf4 #dddfeb;
}

.reserved {
  background-color: #a9a9a9;
}

.disable-selection {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.navbar-border {
  border-bottom: 1px solid #e3e3e3;
  background-color: #fff;
}

.brendybtn {
  background-color: #EAEDEF;
  color: #000;
  border: 0px solid #000;
  font-size: 16px;
  border-radius: 40px;
  padding: 12px;
}

.brendybtn:hover {
  background-color: #005Cff;
}

.topimage {
  /*text-align: center;*/
  border-radius: 0px 0px 7px 7px;
}

.imagetext {
  position: absolute;
  bottom: 8px;
  left: 8px;
}

.customcontainer {
  position: relative;
  text-align: center;
  color: #000;
}

.syscontainer {
  position: relative;
  font-family: Arial;
}

.text-block {
  position: absolute;
  bottom: 5%;
  right: 0;
  background-color: rgba(0,0,0,0.4);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px 0px 0px 5px;
  padding: 8px 15px 8px 20px;
  border: 1px solid #7a7a7a;
}

.mynav:hover {
  background-color: #262342;
  color: #fff!important;
  text-decoration: none;
}

.myfooter {
  /*background-color: #ffffff;*/
  text-align: center;
  color: #aaaaaa;
  padding: 15px;
  border-top: 1px solid #e3e3e3;
  bottom: 0;
  margin: auto;
  position: absolute;
  width: 100%;
}

.register-text-block {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #ffffff;
  color: rgb(0,0,0);
}

@media (min-width: 992px) {
  .register-text-block {
    padding: 50px 60px 10px 40px;
  }
}

@media (max-width: 991px) {
  .register-text-block {
    padding: 20px;
  }
}

.brendybtn-lightgreen {
  background-color: #33FCB3;
  color: #000;
  border: 0px solid #000;
  font-size: 16px;
  border-radius: 40px;
  padding: 8px 20px 8px 20px;
}

.brendybtn-lightgreen:hover {
  background-color: #00d689;
  color: #000;
}

.brendybtn-lightgreen-outline {
  background-color: rgba(51,252,179,0);
  color: #000;
  border: 2px solid #33FCB3;
  font-size: 16px;
  border-radius: 40px;
  padding: 8px 20px 8px 20px;
}

.brendybtn-lightgreen-outline:hover {
  border: 2px solid #00d689;
  background-color: rgba(255,255,255,0);
  color: #000;
}

.focus {
  border: 2px solid #00d689;
  background-color: rgba(255,255,255,0);
  color: #000;
}

.register-textbox {
  width: 470px;
  border: 1px solid #cdcdcd;
  height: 45px;
}

.register-textbox:focus {
  color: #6e707e;
  background-color: #fff;
  border-color: #3f66ee;
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(78,115,223,0);
  border-radius: 40px;
  transition: all 0.7s;
}

.link-juicy {
  color: #323232;
  border-bottom: 2px solid #32fcb3;
}

.link-juicy:hover {
  border-bottom: 2px solid #4e4e4e;
  text-decoration: none;
  color: #323232;
}

::selection {
  background-color: #333341;
  color: #fff;
}

#showhide-content {
  border: 1px solid #ebebeb;
  padding: 15px;
  border-radius: 5px;
  width: 60%;
}

